<nav class='nav-bar'>
    <div id="nav-toggle">&#9776;</div>
        <div id="nav-links"><a href='/articles'>Home</a></div>
</nav>
{{#each info}}
    {{#if saved}}
<div class="articles">
    <div class='article-header'>L.A. NOW <span class='date'>{{date}}</span></div>
    <div class='article-container'><img class="thumbnail" src="{{image}}">

        <div id='scraped-article' data-id='{{_id}}'>
            <h3>{{title}}</h3>
            <a href='http://www.latimes.com/{{link}}'>
                <p class='link'>http://www.latimes.com{{link}}</p>
            </a>
        </div>
        {{#each Comment}}
        <div class='comments'>
            <div id="commenter-name">Name: {{this.name}}</div>
            <div id="commenter-comment">Comment:
                <hr>{{this.body}}</div>
            <form method="POST" action="/delete/{{_id}}?_method=DELETE">
                <button type="submit" id="delete">Delete Comment</button>
            </form>
        </div>
        {{/each}}

        <form class="form" method="POST" action="/articles/{{_id}}">
            <h3> Leave a comment about this article</h3>
            <input data-id='{{_id}}' id='name' type='text' name='name' placeholder='Name'>
            <textarea data-id='{{_id}}' id='body' type='text' name='body' placeholder='Comment'></textarea>

            <button id="leave-comment" data-id='{{_id}}'>Comment</button>
        </form>

        <form class="form" method="POST" action="/unsave/{{_id}}?_method=PUT">
            <button id="delete-article" data-id='{{_id}}'>Delete Article</button>
        </form>
        <div class='warning'></div>
    </div>
</div>
    {{/if}}
{{/each}}